LISTENNOTES_API_KEY=65a3452562ad4029a2acf7293246b3bb


#Auth0 configuration,
AUTH0_SECRET=replace-with-your-own-secret-generated-with-openssl
APP_BASE_URL=http://localhost:3000/
AUTH0_DOMAIN=dev-ijz6iib1vp6s4ogs.us.auth0.com
AUTH0_CLIENT_ID=7oi6AdGd2mcpzR1eMN1H5gHG4IYELp9s
AUTH0_CLIENT_SECRET=MbP0AuHs5XMv-dzxFlDtlSOKqjiDZzFh5qKZNDfCQ_ozrpUWhdZGCzZ7fF9kwgyT
AUTH0_AUDIENCE=
AUTH0_SCOPE=

#Cookie Options
AUTH0_COOKIE_DOMAIN='admin.podverse.com'
AUTH0_COOKIE_DOMAIN=localhost
AUTH0_COOKIE_TRANSIENT=true
AUTH0_COOKIE_SECURE=true
AUTH0_COOKIE_SAME_SITE='Strict'