LISTENNOTES_API_KEY=65a3452562ad4029a2acf7293246b3bb


#Auth0 configuration,
AUTH0_SECRET=4eb6c743443e49adb1717b53b40dde944f86eec9c7ee4377b5800a5e01d296ac
APP_BASE_URL=http://localhost:3000
AUTH0_DOMAIN=dev-ijz6iib1vp6s4ogs.us.auth0.com
AUTH0_CLIENT_ID=7oi6AdGd2mcpzR1eMN1H5gHG4IYELp9s
AUTH0_CLIENT_SECRET=MbP0AuHs5XMv-dzxFlDtlSOKqjiDZzFh5qKZNDfCQ_ozrpUWhdZGCzZ7fF9kwgyT
AUTH0_AUDIENCE=
AUTH0_SCOPE=

#Cookie Options - updated for development use 
#AUTH0_COOKIE_DOMAIN=admin.podverse.com
AUTH0_COOKIE_DOMAIN=localhost #needed for development 
AUTH0_COOKIE_TRANSIENT=true
AUTH0_COOKIE_SECURE=false #must be false for local is http not https
AUTH0_COOKIE_SAME_SITE=lax #giving issue with cross-site login flows (google)

## Backend API base URL for proxying API calls from Next.js to Flask backend
BACKEND_URL=http://backend:8000