#sample .env file for Podverse project
LISTENNOTES_API_KEY=fake-key

FLASK_ENV=development
DATABASE_URL=postgresql://podverse_admin:testest@database:5432/podverse_db
TEST_DATABASE_URL=postgresql://podverse_admin:testest@database:5432/podverse_db
PROD_DATABASE_URL=postgresql://podverse_admin:testest@database:5432/podverse_db

OLLAMA_MODEL_PATH=C:/Users/chris/.ollama
